.product-filter-menu {
    width: 250px;
    height: 100%;
    background-color:#fff ;
    position: fixed;
    z-index: 999;
    top: 0;
    border-right: 1px solid #f0ecec;
    animation: myfirst 5s 1;
    animation-direction: alternate;
}

.product-filter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    border-bottom:1px solid #f0ecec;
}

.product-filter-title h1 {
    font-size: 20px;
}

.product-filter-category-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
}
.product-filter-category-box h2 {
    font-size: 14px;  
}

.size {
    display: flex;
    gap: 5px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.size input[type='checkbox'] { 
    width: 15px;
    height: 15px;
    accent-color: #000;
}

.colors {
    display: flex;
    gap: 5px;
    width: 200px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.color {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    cursor: pointer;
}

.price-range {
    display: flex;
    gap: 5px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.price-range input[type='checkbox'] { 
    accent-color: #000;
    width: 15px;
    height: 15px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 700px;
   
    position: fixed;
    z-index: 999;
    margin-left: 25px;
    animation: mysecond 5s 1;
    animation-direction: alternate;
    
}
.filter-button{
    width: 200px;
    height: 30px;
    background-color: #000;
    color: white;
    border: none;
}

.filter-button:nth-child(2) {
    background-color: #fc0d4a;
    border: 2px solid #000;
}

@keyframes myfirst {
    0%   { left: -200px; top: 0px;}
    10%  { left: 0px; top: 0px;}
}

@keyframes mysecond {
    0%   { left: -200px; }
    10%  { left: 0px; }
}

@media  screen and (max-width: 375px) {
    .buttons-container {
    margin-top: 500px;
    }
}
