.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 800px;
    padding: 45px;
    justify-content: center;

}

.product-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
}

.product-card img {
    position: relative;
    margin-top: 0px;
    width: 250px;
    height: 200px;
}

.bobbles-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bobble {
    width: 10px;
    height: 10px;
    background-color: #DFFF00;
    border-radius: 20px ;
    border: 1px solid rgb(116, 116, 116);
}

.prices {
    display: flex;
}

.price {
    color: #fc0d4a;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 25px;
}

.price-before {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.products-filters-container {
    display: flex;
    align-items: center;
    height: 60px;
    border-top:1px solid #f0ecec;
    border-bottom:1px solid #f0ecec;
    font-size: 14px;
    color: rgb(28, 27, 27);
}

.products-filters {
    display: flex;
    width: 100px;
    padding-left: 20px;
}

.products-filters p {
    margin-left: 5px;
    font-size: 17px;
}
